.fundoCadastro {
     background-image: url('https://i.pinimg.com/564x/1c/35/aa/1c35aae8f59acb984a44b7cfedf07a8c.jpg'); 
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }